.page-node-2 {
  #page-title {
    display: none;
  }

  article {
    position: relative;
  }

  .column {

    .field-name-field-bp-image {
      margin: 0 (-$gutter_mobile) 30/16*1em (-$gutter_mobile);

      @media all and (min-width: $media_ewok) {
        margin: 0 (-$gutter_tablet) 30/16*1em (-$gutter_tablet);
      }

      img {
        margin: 0;
      }
    }


    .field-name-field-bp-headline {
      font-size: 20/16*1em;
      line-height: 20/20*1em;
      margin-top: -160/20*1em;
      width: 100%;
      position: absolute;
      right: 0;
      text-align: right;
      color: white;

      @media all and (min-width: $media_yoda) {
        font-size: 24/16*1em;
        line-height: 24/24*1em;
        margin-top: -180/24*1em;
      }

      @media all and (min-width: $media_ewok) {
        font-size: 32/16*1em;
        line-height: 32/32*1em;
        margin-top: -200/32*1em;
      }

      @media all and (min-width: $media_luke) {
        font-size: 36/16*1em;
        line-height: 36/36*1em;
        margin-top: -210/36*1em;
        width: 90%;
      }

      @media all and (min-width: $media_vader) {
        font-size: 40/16*1em;
        line-height: 40/40*1em;
        margin-top: -220/40*1em;
        width: 90%;
      }

      @media all and (min-width: $media_jabba) {
        width: 85%;
      }

      @media all and (min-width: $media_atat) {
        width: 75%;
      }
    }
  }
}
