.page-node-3 {
  .field-name-body {
    font-size: 14/16*1em;
    line-height: 28/14*1em;
    color: $color_darkish_gray;
    margin-bottom: 40/14*1em;

    strong,
    span {
      display: block;
    }

    span {
      margin: 30/14*1em 0;
    }

    @media all and (min-width: $media_ewok) {
      width: auto;
      float: right;
    }
  }

  .webform-client-form {
    @media all and (min-width: $media_ewok) {
      width: auto;
      float: left;
    }

    .form-item {
      input,
      textarea {
        @media all and (min-width: $media_ewok) {
          max-width: 220/16*1em;
        }

        @media all and (min-width: $media_ewok + 50/16*1em) {
          max-width: 260/16*1em;
        }

        @media all and (min-width: $media_luke) {
          max-width: 320/16*1em;
        }

        @media all and (min-width: $media_vader) {
          max-width: 380/16*1em;
        }

        @media all and (min-width: $media_jabba) {
          max-width: 420/16*1em;
        }

        @media all and (min-width: $media_atat) {
          max-width: 480/16*1em;
        }
      }
    }

    .form-actions {
      margin-bottom: 60/16*1em;
    }
  }
}
