#footer-wrapper {
  background: $color_yellow;
  overflow: auto;

  .copyright {
    font-size: 16/16*1em;
    color: #bc7c01;
    clear: both;
    text-align: center;
    margin-bottom: 32/16*1em;
  }
}
