#page {
  background: transparent url('../images/bg-pattern.png') repeat top left;
}

#main {
  background: rgba(255, 255, 255, .5);
}

#main-inner {
  background-color: $color_white;
  border-radius: 20px;
  box-shadow: 0px 0px 6px #666;
}

.page-node-2 {
  #main-inner {
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
  }
}

.column {

  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $color_dark_gray;
  }

  h2 {
    font-size: 28/16*1em;
  }

  h3 {
    font-size: 26/16*1em;
  }

  h4 {
    font-size: 24/16*1em;
  }

  p,
  li,
  blockquote {
    font-family: $font_century_gothic;
    font-size: 24/16*1em;
    line-height: 32/24*1em;
    color: $color_dark_gray;
  }

  p {
    margin: 0 0 18/24*1em;
  }

  ol,
  ul {
    padding: 0 0 0 30/24*1em;
  }

  blockquote {
    color: $color_red;
  }

  a {
    color: $color_yellow;
    text-decoration: underline;

    &:hover {
      color: $color_light_yellow;
      text-decoration: none;
    }
  }

  img {
    margin: 10/16*1em;
  }
}
