#page {
  background: transparent url('../images/bg-pattern.png') repeat top left;
}

#main {
  background-color: #d3d0cb;
}

#main-inner {
  background-color: $color_white;
  border-radius: 20px;
  box-shadow: 0px 0px 6px #666;
}

.page-node-2 {
  #main-inner {
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
  }
}

.column {
  p,
  li,
  blockquote {
    font-size: 24/16*1em;
    line-height: 32/24*1em;
  }

  p {
    margin: 0 0 18/24*1em;
    color: #000;
  }

  ol,
  ul {
    li {

    }
  }

  blockquote {
    color: red;
  }

  a {
    color: $color_blue;
    text-decoration: underline;

    &:hover {
      color: $color_light_blue;
      text-decoration: none;
    }
  }

  blockquote {

  }

  img {
    margin: 10/16*1em;
  }
}
