h1 {
  &.page-title,
  &#page-title {
    color: $color_dark_gray;
    font-size: 24/16*1em;
    line-height: 30/24*1em;
    font-weight: 700;

    @media all and (min-width: $media_luke) {
      font-size: 30/16*1em;
      line-height: 38/30*1em;
    }
  }
}
