.tabs-primary {
  margin-bottom: 20/16*1em;
  padding: 0 $gutter_mobile !important;
  margin: 0 (-$gutter_mobile);

  @media all and (min-width: $media_ewok) {
    padding: 0 $gutter_tablet !important;
    margin: 0 (-$gutter_tablet);
    margin-bottom: 20/16*1em;
    border-bottom: 1px solid $color_light_gray;
  }

  @media all and (min-width: $media_vader) {
    padding: 0 $gutter_desktop !important;
    margin: 0 (-$gutter_desktop);
    margin-bottom: 20/16*1em;
  }

  li {
    display: block;
    width: 100%;
    margin-bottom: 0;

    @media all and (min-width: $media_ewok) {
      width: auto;
      list-style: none;
      display: inline-block;
    }

    a {
      @include button-base;
      width: 100%;
      box-sizing: border-box;
      text-align: center;
      font-size: 16/24*1em;
      margin-bottom: 20/16*1em;

      @media all and (min-width: $media_ewok) {
        border-radius: 5px 5px 0 0;
        margin-bottom: 0;
      }
    }

    &.active {
      background-color: $color_gray;
    }
  }
}
