.page-user {
  #main-inner {
    max-width: $media_luke;
  }
  .tabs-primary {
    display: none;
  }
}

.page-schedule #content {
  .views-field-field-schedule-file {
    a {
      background: $color_gray;
      padding: 25/16*1em ;
      box-sizing: border-box;
      color: $color_white;
      text-decoration: none;
      width: 100%;
      position: relative;
      display: block;
      text-align: center;
      border-radius: 5px;
      margin-bottom: 20/16*1em;

      @media all and (min-width: $media_yoda) {
        padding-left: 88/16*1em;
        width: auto;
        display: inline-block;
        border-radius: 0 5px 5px 0;
        text-align: left;
      }

      &:before {
        content: "";
        @include sprite-background('schedule-icon');
        position: absolute;
        top: 0;
        left: 0;
        display: none;

        @media all and (min-width: $media_yoda) {
          display: block;
        }
      }
    }
  }
}
